<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NOTES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-text color="primary">MY NOTES</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" *ngFor="let notes of myNotes">
        <div class="notes">
          <p>{{notes.title}}</p>
          <p>
            <ion-icon name="alarm"></ion-icon> {{notes.date}}
          </p>
          <ion-button>Read</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>